.section {
    padding: 2rem 0;
    position: relative;

    @media (--lg) {
        padding: 4.25rem 0;
        /* min-height: calc(100vh - 2.25rem); */
    }

    &--flex {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (--lg) {
            min-height: calc(100vh - 2.25rem);
        }
    }
}
