.block {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-left: 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: var(--color-background);

    p + & {
        margin-top: -1rem;
    }

    li {
        list-style-type: none;
        line-height: 1.5;
    }

    input[type='text'],
    input[type='date'],
    select {
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: var(--color-background);
        outline: none;
    }
    input[type='date'] {
        color-scheme: dark;
    }

    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-position: right 1.25rem center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 1.5 4 4 4-4' stroke='%23ffffff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-size: 0.625rem;
    }

    &__code {
        background-color: var(--color-background);
        border-radius: 0.5rem;
        padding: 0.5rem;
    }
}
