.block {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-left: 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: var(--color-background);

    p + & {
        margin-top: -1rem;
    }

    li {
        list-style-type: none;
        line-height: 1.5;
    }

    &__code {
        background-color: var(--color-background);
        border-radius: 0.5rem;
        padding: 0.5rem;
    }
}
