.demo-hashpress-pay {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    input[type='text'],
    input[type='tel'],
    input[type='email'],
    input[type='number'] {
        background-color: var(--color-background);
        /* border: 1px solid var(--color-primary); */
        height: 2.75rem;
        padding: 0 1rem;
        outline: none;
        /* width: 100%; */
        outline: none;
        border-radius: 0.5rem;
        transition: background-color 0.3s cubic-bezier(0.2, 0, 0.2, 1);

        &:hover,
        &:active {
            background-color: rgba(231, 210, 207, 0.12);
        }
    }

    textarea {
        background-color: var(--color-background);
        padding: 1rem;
        width: 100%;
        outline: none;
        border-radius: 0.5rem;
        transition: background-color 0.3s cubic-bezier(0.2, 0, 0.2, 1);

        &:hover,
        &:active {
            background-color: rgba(231, 210, 207, 0.12);
        }
    }
}
