.index {
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    h4 {
        color: var(--color-primary);
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        > li {
            > ul {
                margin-left: 1rem;
            }
        }
    }
}
