.shortcode-demo {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-left: 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
    /* border-left: 8px solid var(--color-primary); */
    background-color: var(--color-background);

    p + & {
        margin-top: -1rem;
    }

    &__code {
        background-color: var(--color-background);
        border-radius: 0.5rem;
        padding: 0.5rem;
    }

    input[type='number'] {
        background-color: var(--color-background);
        height: 2.5rem;
        padding: 0 1rem;
        outline: none;
        outline: none;
        /* border-radius: 0.5rem; */
        transition: background-color 0.3s cubic-bezier(0.2, 0, 0.2, 1);

        &:hover,
        &:active {
            background-color: rgba(231, 210, 207, 0.12);
        }
    }
}
